:root {
  --main-color: #ffffff;
  --logo-color: #4d5ae5;
  --headers-color: #2e2f42;
  --text-color: #434455;
  --filter-color: #e7e9fc;
  --filter-text-color: #4d5ae5;
  --hover-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header .logo {
  color: #4d5ae5;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.header .span {
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-nav-list {
  color: var(--headers-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-list .link:hover,
.link:focus {
  color: var(--hover-color);
}

.header-address-list .mail:hover,
.mail:focus {
  color: var(--hover-color);
}

.header .address {
  font-style: normal;
}

.header-address-list .text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
